ng-form.form-page

    label(for="first_name") First name
    input(
      type='text',
      name='first_name',
      maxlength=20,
      ng-model='individual.first_name',
      required,
      autocomplete='off')

    label(for="last_name") Last name
    input(
      type='text',
      name='last_name',
      maxlength=20,
      ng-model='individual.last_name',
      required,
      autocomplete='off')

    label(for="email") Email
    input(
      type='email',
      name='email',
      maxlength=50,
      ng-model='individual.email',
      required,
      autocomplete='off')

    label(for="street_address") Street address
    input(
      type='text',
      name='street_address',
      ng-model='address.street_address',
      required,
      autocomplete='off')

    label(for="locality") City
    input(
      type='text',
      name='locality',
      ng-model='address.locality',
      required,
      autocomplete='off')

    label(for="region") State
    input(
      type='text',
      name='region',
      ng-model='address.region',
      required,
      autocomplete='off')

    label(for="postal_code") Postal code
    input(
      type='text',
      name='postal_code',
      ng-model='address.postal_code',
      required,
      autocomplete='off')

    label(for="account_number") Account number
    input(
      type='text',
      name='account_number',
      ng-model='user.funding.account_number',
      required,
      autocomplete='off')

    label(for="routing_number") Routing number
    input(
      type='text',
      name='routing_number',
      ng-model='user.funding.routing_number',
      required,
      autocomplete='off')


    .radio
      input(
        type="radio",
        id="account_type_personal"
        name="account_type_personal",
        ng-init="account_type = 'personal'",
        ng-model="account_type",
        value="personal")
      label(for="account_type_personal") Personal Account
    .radio(style="margin-bottom: 1rem")
      input(
        type="radio",
        id="account_type_business"
        name="account_type_business",
        ng-model="account_type",
        value="business")
      label(for="account_type_business") Business Account

    div(ng-show="account_type == 'business'")
      label(for="legal_name") Business legal name
      input(
        type='text',
        name='legal_name',
        ng-model='business.legal_name',
        required,
        autocomplete='off')

      label(for="tax_id") Business tax ID
      input(
        type='text',
        name='tax_id',
        ng-model='business.tax_id',
        required,
        autocomplete='off')

    .checkbox
      input(
        type="checkbox",
        id="tos"
        name="tos",
        ng-model="tos_accepted")
      label(for="tos") I accept the Terms of Service
