ng-form.form-page(name="bankLinkForm")

  a(
    href="https://www.braintreegateway.com/merchants/f5d9mhqcfxncy7nv/verified"
    target="_blank",
    style="margin-bottom: 1rem; display: block")
    img(src="https://s3.amazonaws.com/braintree-badges/braintree-badge-wide-light.png",
      width="280px",
      height ="44px",
      border="0",
      style="margin: 0 auto")

  label(for="first_name") First name
  input(
    type='text',
    name='first_name',
    maxlength=20,
    ng-model='params.individual.first_name',
    required,
    autocomplete='off')

  label(for="last_name") Last name
  input(
    type='text',
    name='last_name',
    maxlength=20,
    ng-model='params.individual.last_name',
    required,
    autocomplete='off')

  label(for="email") Email
  input(
    type='email',
    name='email',
    maxlength=50,
    ng-model='params.individual.email',
    required,
    autocomplete='off')

  label(for="street_address") Street address
  input(
    type='text',
    name='street_address',
    ng-model='params.individual.address.street_address',
    maxlength=50,
    required,
    autocomplete='off')

  label(for="locality") City
  input(
    type='text',
    name='locality',
    ng-model='params.individual.address.locality',
    maxlength=20,
    required,
    autocomplete='off')

  label(for="region") State
  input(
    type='text',
    name='region',
    ng-model='params.individual.address.region',
    maxlength=20,
    required,
    autocomplete='off')

  label(for="postal_code") Postal code
  input(
    type='text',
    name='postal_code',
    ng-pattern="/^[\\d]{5}$/",
    ng-model='params.individual.address.postal_code',
    required,
    autocomplete='off')

  label(for="date_of_birth") Date of Birth
  input(
    type='date',
    name='date_of_birth',
    ng-model='params.individual.date_of_birth',
    required,
    autocomplete='off')

  label(for="routing_number") Routing number
  input(
    type='text',
    name='routing_number',
    placeholder="9 digits",
    ng-pattern="/^[\\d]{9}$/",
    ng-model='params.funding.routing_number',
    required,
    autocomplete='off')

  label(for="account_number") Account number
  input(
    type='text',
    name='account_number',
    placeholder="9-12 digits",
    ng-pattern="/^[\\d]{9,12}$/",
    ng-model='params.funding.account_number',
    required,
    autocomplete='off')

  .radio
    input(
      type="radio",
      id="account_type_personal"
      name="account_type_personal",
      ng-init="account_type = 'personal'",
      ng-model="account_type",
      value="personal")
    label(for="account_type_personal") Personal Account
  .radio(style="margin-bottom: 1rem")
    input(
      type="radio",
      id="account_type_business"
      name="account_type_business",
      ng-model="account_type",
      value="business")
    label(for="account_type_business") Business Account

  div(ng-if="account_type == 'business'")
    label(for="legal_name") Business legal name
    input(
      type='text',
      name='legal_name',
      ng-model='params.business.legal_name',
      required,
      autocomplete='off')

    label(for="tax_id") Business tax ID
    input(
      type='text',
      name='tax_id',
      placeholder="00-0000000",
      ng-model='params.business.tax_id',
      required,
      autocomplete='off')

  .checkbox(style="margin-bottom: 1rem")
    input(
      type="checkbox",
      id="tos"
      name="tos",
      required,
      ng-model="params.tos_accepted")
    label(for="tos") I accept the #[a(ui-sref='terms' style='text-decoration: underline', ng-click='saveForm()') Terms of Service]

  button.button(type="submit", ng-disabled="bankLinkForm.$invalid", ng-click="linkBankAccount()") Submit

//- TODO: put ic-loading under <body> tag. use rootScope.isBusy
ic-loading(ng-if='isBusy')
