.booking-form
  h1 Tell us about yourself.

  p Fill in your information, and an idlecars representative will help you arrange your booking.

  form(name='bookingForm', ng-submit='createBooking($event)')

    div
      label(for='first_name') First Name
      input(
        id='first_name',
        name='first_name',
        type='text',
        required,
        minlength='2',
        novalidate,
        ng-model='user_account.first_name',
      )

    div
      label(for='last_name') Last Name
      input(
        id='last_name',
        name='last_name',
        type='text',
        required,
        minlength='2',
        novalidate,
        ng-model='user_account.last_name',
      )

    div
      label(for='email') Email Address
      input(
        type='email',
        name='email',
        id='email',
        ng-model='user_account.email',
        novalidate,
        required,
      )

    div
      label(for='phone_number') Phone Number
      input(
        id='phone_number',
        name='phone_number',
        type='tel',
        required,
        novalidate,
        ng-model='user_account.phone_number',
        //- this matches three/three/four digit patterns
        pattern="[^\\d]*\\d{3}[^\\d]*\\d{3}[^\\d]*\\d{4}$"
      )

    input.button.ledged(type='submit', value="Sign Up")
