.form-container
  .text-wrapper
    ng-form(name='fieldForm', novalidate)
      div(ng-repeat='field in fields[index]')
        label(for="{{field.name}}") {{field.label}}
        input.no-box(
          type='{{field.type}}',
          name='{{field.name}}',
          id='{{field.name}}',
          placeholder='{{field.placeholder}}',
          maxlength='{{field.maxlength}}',
          ng-pattern='field.pattern',
          ng-model="user_account[field.name]",
          ng-change='validateForm()',
          required,
          autocomplete="off")
