a(ui-sref="carsShow({carId: car.id, car: car})") cancel
h2 Request for {{car.year}} {{car.make}} {{car.model}}

form(name='bookingForm', ng-submit='createBooking(user_account)')

  div
    label(for='first_name') First Name
    input(
      id='first_name',
      name='first_name',
      type='text',
      required,
      minlength='2',
      novalidate,
      ng-model='user_account.first_name',
      ng-blur="bookingForm.first_name.$invalid && showAlert('Please enter your first name')"
    )

  div
    label(for='last_name') Last Name
    input(
      id='last_name',
      name='last_name',
      type='text',
      required,
      minlength='2',
      novalidate,
      ng-model='user_account.last_name',
      ng-blur="bookingForm.last_name.$invalid && showAlert('Please enter your last name')"
    )

  div
    label(for='email') Email Address
    input(
      type='email',
      name='email',
      id='email',
      ng-model='user_account.email',
      novalidate,
      required,
      ng-blur="bookingForm.email.$invalid && showAlert('Please enter a valid email')"
    )

  div
    label(for='phone_number') Phone Number
    input(
      id='phone_number',
      name='phone_number',
      type='text',
      required,
      minlength='2',
      novalidate,
      ng-model='user_account.phone_number',
      ng-blur="bookingForm.phone_number.$invalid && showAlert('Please enter your area code and phone number')",
      //- this matches three/three/four digit patterns
      ng-pattern="/[^\\d]*\\d{3}[^\\d]*\\d{3}[^\\d]*\\d{4}$/"
    )

  input.button.ledged(type='submit', value="Sign Up")
