.field-form
  .field-container
    .nav-bar-field
      button.back-sign(ng-click='goBack()') <
      .title
        h2 Information
      //- TODO dont use ng-class
      button.next(ng-click='goNext()', ng-disabled="!isValid", ng-class="{disabledNext: !isValid}") next>

    .text-wrapper
      ng-form(name='fieldForm', novalidate)
        div(ng-repeat='field in fields[index]')
          label(for="{{field.name}}") {{field.label}}
          input(
            type='{{field.type}}',
            name='{{field.name}}',
            id='{{field.name}}',
            placeholder='{{field.placeholder}}',
            maxlength='{{field.maxlength}}',
            ng-pattern='field.pattern',
            ng-model="user_account[field.name]",
            ng-change='validateForm()',
            required,
            autocomplete="off")
          hr
