.field-by-field
  .form-container
    .field-by-field-nav
      button.prev-pointer.clear-button(ng-click='goBack()')
      h3 Request Car
      //- TODO dont use ng-class
      button.next-pointer.clear-button(ng-click='goNext()', ng-disabled="!isValid") Next

    .text-wrapper
      ng-form(name='fieldForm', novalidate)
        div(ng-repeat='field in fields[index]')
          label(for="{{field.name}}") {{field.label}}
          input.no-box(
            type='{{field.type}}',
            name='{{field.name}}',
            id='{{field.name}}',
            placeholder='{{field.placeholder}}',
            maxlength='{{field.maxlength}}',
            ng-pattern='field.pattern',
            ng-model="user_account[field.name]",
            ng-change='validateForm()',
            required,
            autocomplete="off")
