.field-form
  .field-container
    .nav-bar-field
      button.back-sign(ng-click='goBack()') <
      .title
        h2 Information
      button.next(ng-click='goNext()', ng-disabled="isInvalid", ng-class="{disabledNext: isInvalid}") next>

    .text-wrapper
      ng-form(name='fieldForm', novalidate)
          div(ng-repeat='field in fields[index]')
            p {{field.label}}
            input(type='{{field.type}}',
                  name='{{field.name}}',
                  id='{{field.name}}',
                  placeholder='{{field.placeholder}}',
                  maxlength='{{field.maxlength}}',
                  ng-pattern='field.pattern',
                  ng-model="field.val",
                  ng-change='validateForm()',
                  required,
                  autocomplete="off")
            hr
